# Copy this file to .env and fill in your values
PORT=3000

# MQTT Broker
MQTT_URL=mqtt://localhost:1883

# Email Alerts (SMTP)
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=
SMTP_PASS=

# Alert Recipients
ALERT_EMAIL_FROM=''
ALERT_EMAIL_TO=''
